/* *{  
    border: 1px solid brown;
 }  */
body{
    color: white;
        background-color: rgba(33, 36, 33);

}
nav button{
    margin-left: 600px;
    
}
nav a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 35px;
}
.About{
    text-align: center;
    padding: 100px;
}
.About1{
    background-color: white;
    color: black;
    padding: 80px;
}
.GetStart{
    color: beige;
    margin: 150px 00px 150px;
    text-align: center;
}
.letsWorkTogether{

    background-color: orange;
    padding: 20px 30px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.letsWorkTogether a{
    text-decoration: none;
    color: white;
        
}
.letsWorkTogether a:hover{
    color: black;
    background-color: white;
     padding: 20px 30px;
}
.aboutDiscriptn{
    background-color: white;
    color: black;
    padding: 0px 200px  40px;

}
footer{
   
    background-color: black;
    padding: 40px 80px;
}
.f1{
    width: 100%;
    background-color: black;
}
.siteLink{
    margin-left: 200px;
}
.siteLink a{
    text-decoration: none;
    color: gray;
    display: block;
}
.scroll-uobtn{
 font-size: 50px;
    color: white;
    margin-top: -200px;
    margin-left: 550px;
}